
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.Header {
    background-color: #222;
    color: white;
    justify-content: space-between;
    padding: 15px 50px;
    text-align: center;
    display: flex;
    font-size: 20px;
    
}
.navigation{
    justify-content: space-between;
    text-align: center;
    display: flex;
    margin: 37px;
}
nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    padding-left: 30px;
   
}

nav a:hover {
    color: #ffcc00;
}

/* Product Container */
.product-container {
    display: flex;
    max-width: 1100px;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    align-items: center;
}

.product-image img {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.product-image img:hover {
    transform: scale(1.05);
}

.product-details {
    margin-left: 50px;
}

h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #222;
}

.price {
    font-size: 22px;
    font-weight: bold;
    color: #ff6600;
    margin-bottom: 15px;
}
.buy-now{
    background-color: #ff6600;
   border: none;
   color:rgb(255, 255, 255);
   font-size: 16px;
   text-align: center;
}
.buy-now {
    width: 100%;
    margin-top: 5px;
}

.care-list {
    font-size: 15px;
    padding-left: 30px;
    line-height: 2.0;
}
